{
    "useTabs": true,      // Indent lines with tabs instead of spaces.
    "printWidth": 80,      // Specify the length of line that the printer will wrap on.
    "tabWidth": 4,         // Specify the number of spaces per indentation-level.
    "singleQuote": false,  // Use single quotes instead of double quotes.
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "noSemi": true,
    "rcVerbose": true
}
