@import './icofont/icofont.css';
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@600&display=swap');
*{
    font-family: 'Big Shoulders Text', cursive;
}
.Sidebar {
    height: 100vh;
}
.Chatbox {
    height: 100vh;
}

.dcolor::hover{
    color: #7289da;
}

.myCard {
    width: 18rem;
}

